main{
   width: 400px;
   height: 500px;
   background-color: white;
   border-radius: 8px;
   margin: auto;
   padding-top: 5px;
}

table{
   border-spacing: 20px;
   margin: auto;
}

td{
   width: 60px;
   height: 60px;
   background-color: grey;
   color: black;
   text-align: center;
   border-radius: 3px;
   box-shadow: 5px 5px 8px black;
}

td:hover{
   color: red;
}

#resultat{
   width: 306px;
   margin: auto;
   height: 70px;
   border-radius: 3px;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 5px;
   font-size: 150%;
   overflow: hidden;
   margin-top: 20px;
   color: white;
}

#clear{
   width: 100px;
   height: 20px;
   margin: auto;
   background-color: rgba(255, 46, 0, 0.78);
   text-align: center;
   border-radius: 3px;
   box-shadow: 1px 1px 2px rgb(12, 84, 121);
}
